.login-screen {
  background-color: #e9f7fc;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background-color: #ffffff;

  padding: 2.5%;
  border-radius: 3%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);

  max-width: 30%;
  width: 100%;
}

.form-container h2 {
  margin-bottom: 20px;
  color: #2c3e50;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #34495e;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccd1d9;

  border-radius: 5px;
  font-size: 16px;
}

.form-group input:focus {
  border-color: #76c7c0;

  outline: none;
}

.submit-btn {
  background-color: #76c7c0;

  color: #ffffff;

  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn:hover {
  background-color: #5aa3a0;
}

.login-footer {
  display: flex;
  justify-content: space-between;
}
